{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register | Create your Agri Guide Account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/accounts/accounts.css' %}">
    <link rel="stylesheet" href="{% static 'styles/utils.css' %}">
    <style type="text/css">
        body {
            background-image: url("{% static 'images/register_bg.png' %}");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;

        }
    </style>
</head>
<body>
<script type="application/javascript" src="{% static 'scripts/reg.js' %}"></script>
<div class="container">
    <div class="box">

        <form method="post">
            {% csrf_token %}
            <label>

                <select id="states" name="states" class="kSelect"
                        onchange="if (typeof(this.selectedIndex) != 'undefined') check()">
                    {% for i in states %}{% for j in s_d %}
                        {% if forloop.counter == forloop.parentloop.counter %}
                            {% if i == state %}
                                <option value="{{ i }}" selected>{{ j }}</option>
                            {% else %}
                                <option value="{{ i }}">{{ j }}</option>
                            {% endif %}
                        {% endif %}
                    {% endfor %}{% endfor %}
                </select>
                <br>

                <select id="dists" name="dists" class="kSelect" style="margin-bottom: 20px;"
                        onchange="if (typeof(this.selectedIndex) != 'undefined') check1()">
                    {% for i in dists %}{% for j in d_d %}
                        {% if forloop.counter == forloop.parentloop.counter %}
                            {% if i == dist %}
                                <option value="{{ i }}" selected>{{ j }}</option>
                            {% else %}
                                <option value="{{ i }}">{{ j }}</option>
                            {% endif %}
                        {% endif %}
                    {% endfor %}{% endfor %}
                </select>
                <br>
                <input type="text" name="name" id="name" class="form-control text-fields" placeholder="Enter Full Name"
                       required>
                <br>
                <input type="text" name="address" id="address" class="form-control text-fields"
                       placeholder="Enter Address" required>
                <br>
                <input type="tel" name="pincode" id="pincode" minlength="6" maxlength="6" placeholder="Enter Pincode"
                       class="form-control text-fields" required>
                <br>
                <button type="submit" class="kButtons">Next</button>
            </label>
        </form>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>