{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register | Create your Agri Guide Account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/accounts/accounts.css' %}">
    <link rel="stylesheet" href="{% static 'styles/utils.css' %}">
    <style type="text/css">
        body {
            background-image: url("{% static 'images/register_bg.png' %}");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;

        }
    </style>
</head>
<body>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'warning' %}
            <script>
                var r = confirm("{{ message }}");
                if (r === true) {
                    window.location.href = '/deleter/{{ obj }}/';
                } else {
                }
            </script>
        {% endif %}
        {% if message.tags == 'error' %}
            <script>alert("{{ message }}")</script>
        {% endif %}
    {% endfor %}
{% endif %}

{% if tog == 1 %}

    <div class="container">
        <div class="box">
            <form method="post">
                {% csrf_token %}
                <label><input type="tel" name="phone" id="phone" maxlength="10" placeholder="Phone Number"
                              class="form-control text-fields" minlength="10">
                    <br>
                    <button type="submit" name="getter" id="getter" class="kButtons">Get OTP</button>
                </label>
            </form>
        </div>
    </div>

{% else %}

    <form method="post">
        {% csrf_token %}
        <label><input type="tel" name="phone" id="phone" maxlength="10" placeholder="Phone Number"
                      class="form-control text-fields" minlength="10" value="{{ ph }}"><br>
            <input type="tel" name="otp" id="otp" maxlength="4" minlength="4" placeholder="OTP"
                   class="form-control text-fields"><br>
            <button type="submit" class="kButtons">Verify OTP</button>
        </label>
    </form>

{% endif %}

{#{% if messages %}#}
{#    {% for msg in messages %}#}
{#        <div class="alert alert-dark" role="alert">#}
{#            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>#}
{#            {{ msg.message }}<br>#}
{#            <button type="button" onclick="window.location.href='/deleter/{{ obj }}/'">Login</button>#}
{#        </div>#}
{#    {% endfor %}#}
{#{% endif %}#}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>