{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Weather Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/weather/first_page.css' %}">
</head>
<body>

<div class="lds-ring" id="lds">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>

<div class="wet" id="wet">

</div>

<script type="application/javascript">
    document.getElementById('lds').style.display = 'block';
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "http://127.0.0.1:4999/weather/gujarat/surat", true);
    {#xhr.open("GET", "https://agri-guide-api.herokuapp.com/weather/{{ state }}/{{ dist }}", true);#}
    xhr.onload = function (e) {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                var t = JSON.parse(xhr.responseText);
                document.getElementById('lds').style.display = 'none';
                var table = document.createElement("table");

                var tr = table.insertRow(-1);

                var col = ["Month", "Humidity"];

                for (var loc = 0; loc <= 1; loc++) {
                    var th = document.createElement("th");
                    th.innerHTML = col[loc];
                    tr.appendChild(th);
                }

                for (var i = {{ start }}; i <= {{ end }}; i++) {

                    tr = table.insertRow(-1);

                    var tabCell = tr.insertCell(-1);
                    tabCell.innerHTML = t["Humidity"][i - 1];

                    var tabCell1 = tr.insertCell(-1);
                    tabCell1.innerHTML = i;

                    var divContainer = document.getElementById("wet");
                    divContainer.innerHTML = "";
                    divContainer.appendChild(table);
                }
            } else {
                console.error(xhr.statusText);
            }
        }
    };
    xhr.onerror = function (e) {
        console.error(xhr.statusText);
    };
    xhr.send(null);
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>